* {
    font-family: 'Alexandria', sans-serif;
}

header {
    border-radius: 15px;
}

nav li {
    margin-left: 10px;
    
}

nav a {
    padding: 8px 12px;
    
    border: 1px solid hsla(210, 40%, 20%, 1);
}

nav a, nav li {
    border-radius: 25px;
}

nav a:hover {
    box-shadow: 0px 3px 3px hsla(210, 0%, 5%, 1);
    border-width: 1px;
    scale: 1.1;
    margin-right: 10px;
    margin-left: 10px;
}

section {
    border: 2px solid hsla(210, 40%, 20%, 1);    
    border-radius: 15px;
    padding: 15px;
    margin-top: 1.5rem;
    background-color: hsla(210, 10%, 11%, 1);
    box-shadow: 0px 3px 3px hsla(210, 0%, 5%, 1);
}

#fun-fact {
    box-shadow: 0px 3px 3px hsla(210, 0%, 5%, 1);
    border-radius: 15px;
}

select#style {
    border-radius: 15px;
    width: 15.5rem;
}

h2 {
    border-bottom-width: 0px;
    margin-bottom: 5px;
    padding-left: 0px;
}

#about-img img {
    border-radius: 15px;
}

#projects a {
    border-radius: 25px;
}

#projects a:hover {
    scale: 2.1;
}

#contact a {
    margin-bottom: 0px;
    margin-top: 0px;
}

