* {
    font-family: 'Alexandria', sans-serif;
}

header {
    border-radius: 15px;
}

nav a {
    margin-left: 10px;
    
}

nav li {
    padding: 8px 12px;
    
    border: 1px solid hsla(210, 40%, 20%, 1) !important;
}

nav a, nav li {
    border-radius: 25px;
}

nav li:hover {
    box-shadow: 0px 2px 3px hsla(210, 0%, 20%, 1);
    font-size: 1.475rem;
    padding-bottom: 6px;
}

/*nav a:hover li {
    padding: 6px 12px 5px 12px;
    border-width: 0px;
    
}

nav a:hover {
    box-shadow: 0px 3px 3px hsla(210, 0%, 20%, 1);
    font-size: 1.475rem;
}*/

section {
    border: 2px solid hsla(210, 40%, 20%, 1);    
    border-radius: 15px;
    padding: 15px;
    margin-top: 1.5rem;
    background-color: hsla(210, 10%, 11%, 1);
    box-shadow: 0px 3px 3px hsla(210, 0%, 5%, 1);
}

#fun-fact {
    box-shadow: 0px 3px 3px hsla(210, 0%, 5%, 1);
}

h2 {
    border-bottom-width: 0px;
    margin-bottom: 5px;
    padding-left: 0px;
}

#about-img img {
    border-radius: 15px;
}

#projects li {
    border-radius: 25px;
}

#contact a {
    margin-bottom: 0px;
    margin-top: 0px;
}

select#style {
    border-radius: 15px;
    width: 15.5rem;
}

#fun-fact {
    border-radius: 15px;
}