* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: hsla(210, 10%, 8%, 1);
    color: hsla(210, 10%, 80%, 1);
    transition: color 0.5s, background-color 0.5s;
}

header {
    background-color: hsla(210, 15%, 6%, 1);
    color: hsla(210, 40%, 50%, 1);
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid hsla(210, 40%, 20%, 1);
    z-index: 1;
    transition: color 0.5s, background-color 0.5s;
}

#title {
    display: inline-block;
    width: 50%;
    flex-shrink: 2;
    padding-left: 5%;
}

h1, #title a {
    display: inline-block;
    color: hsla(210, 40%, 45%, 1);
    font-size: 2.75rem;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}

nav {
    display: inline-block;
    width: 50%;
    padding-right: 5%;
    flex-shrink: 2;
}

nav ul {
    display: flex;
    list-style: none;
    float: right;    
}

nav li {
    padding: 0.5rem;
    transition: font-size 0.1s;
}

nav a {
    text-decoration: none;
    color: hsla(210, 40%, 45%, 1);
    font-size: 1.375rem;
    transition: font-size 0.1s, color 0.5s, box-shadow 0.25s;
}

nav li:hover {
    border-bottom: 2px solid hsla(210, 40%, 20%, 1);
    padding-bottom: 6px;
    font-size: 1.425rem;
}

nav li:active {
    color: hsla(210, 40%, 35%, 1);
    font-size: 1.4rem;
    border-bottom-width: 1px;
}

main {
    position: relative;
    top: 75px;
    padding: 1.25rem 5%;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
    border-bottom: 2px solid hsla(210, 40%, 20%, 1);
    width: 100%;
    padding-left: 40px;
    margin-bottom: 10px;
}

p {
    line-height: 1.5rem;
    font-weight: 300;
    padding-left: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    padding: 10px;
    scroll-margin-top: 74px;
}

.container {
    display: flex;
    align-items: center;
    margin: 15px auto;
    clear: both;
}

#fun-section {
    margin-top: 0px;
    align-items: flex-start;
}

#style-selector {
    margin-top: 1.2rem;
    width: 40%;
    font-weight: 300;
    font-style: italic;
}

#style-selector span {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 400;    
}

#style-selector label {
    margin-left: 10px;    
}

select {
    background-color: hsla(210, 15%, 6%, 1);
    color:hsla(210, 40%, 60%, 1);
    margin-left: 5px;
    padding: 3px;
    border-radius: 5px;
    width: 8rem;
    transition: color 0.5s, background-color 0.5s, width 0.5s;
}

/*select:hover {
    border-color: hsla(210, 40%, 20%, 1);
    width: 14rem;
}

select:focus {
    border-color: hsla(210, 40%, 20%, 1);
    width: 14rem;
}*/

option:hover {
    color: hsla(210, 10%, 80%, 1);
    background-color: hsla(210, 15%, 6%, 1);
}

#style-selector p {
    font-size: 0.8rem;
    padding-top: 5px;
    color:hsla(210, 40%, 60%, 1);
    transition: color 0.5s;
}

#fun-fact {
    border: 2px solid hsla(210, 40%, 20%, 1);
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px;
    width: 50%;
    background-color: hsla(210, 15%, 6%, 1);
    transition: background-color 0.5s;
}

#fun-fact h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color:hsla(210, 40%, 55%, 1);
    transition: color 0.5s;
}

#fun-fact p {
    font-style: italic;
    color:hsla(210, 10%, 80%, 1);
    transition: color 0.5s;
}

#about p {
    width: 70%;
    display: inline-block;
}

#about-img {
    width: 30%;
    display: inline-flex;
    float: right;
    justify-content: center;
}

#about img {
    height: 275px;
    width: auto;
}

#projects p {
    width: 100%;
}

#projects ul {
    padding-left: 20px;
}

#projects a {
    text-decoration: none;    
}

#projects li {
    list-style: none;
    border: 1px solid hsla(210, 40%, 20%, 1);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0px;
    color:hsla(210, 10%, 80%, 1);
    transition: background-color 0s;
    transition: color 0.5s;
}

#projects li:hover {
    border-width: 2px;
    padding: 14px;
    background-color: hsla(210, 15%, 6%, 1);
}

#projects li:active {
    border-width: 0px;
    background-color: hsla(210, 10%, 15%, 1);
}

#projects li em {
    color:hsla(210, 10%, 60%, 1);
    transition: color 0.5s;
}

#contact .rounded {
    display: flex;
    flex-wrap: wrap;
}

#contact p {
    width: 100%;
}

#contact a {
    color: hsla(210, 10%, 80%, 1);
    margin: 15px 45px;
    transition: color 0.25s;
}

i:hover, iconify-icon:hover {
    color:hsla(210, 50%, 40%, 1);
}

i:active, iconify-icon:active {
    color:hsla(210, 40%, 20%, 1);
}