* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: hsla(210, 10%, 8%, 1);
    color: hsla(210, 10%, 80%, 1);
    transition: color 0.5s, background-color 0.5s;
}

header {
    background-color: hsla(210, 15%, 6%, 1);
    color: hsla(210, 40%, 50%, 1);
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid hsla(210, 40%, 20%, 1);
    z-index: 1;
    transition: color 0.5s, background-color 0.5s;
}

#title {
    display: inline-block;
    width: 50%;
    flex-shrink: 2;
    padding-left: 5%;
    vertical-align: middle;
}

h1, #title a {
    display: inline-flex;
    color: hsla(210, 40%, 45%, 1);
    font-size: 2.75rem;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}

nav.mobile {
    display: none;
}

nav {
    display: inline-block;
    width: 50%;
    padding-right: 5%;
    flex-shrink: 2;
}

nav ul {
    display: flex;
    list-style: none;
    float: right;
    align-items: center;
    /*height: 50px;*/
}

nav a {
    padding: 0.5rem;
    margin-left: 5px;
    text-decoration: none;
    color: hsla(210, 40%, 45%, 1);
    font-size: 1.375rem;
    transition: color 0.5s, box-shadow 0.25s, margin 0.2s;
}

nav a:hover {
    border-bottom: 2px solid hsla(210, 40%, 20%, 1);
    padding-bottom: 6px;
    scale: 1.1;
}

nav li:hover {
    scale: 1.1;
}

nav a:active {
    color: hsla(210, 40%, 35%, 1);
    font-size: 1.4rem;
    border-bottom-width: 1px;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 2.25rem;
    }

    nav a {
        font-size: 1.25rem;
    }

    header {
        height: 60px;
    }
}

@media only screen and (max-width: 830px) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: inline-block;        
    }

    nav.mobile li {
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 635px) {
    nav.mobile i {
        font-size: 1.4rem;
    }

    nav.mobile li {
        padding: 0px 10px;
    }

    h1 {
        font-size: 2rem;
    }
}

main {
    position: relative;
    top: 75px;
    padding: 1.25rem 5%;
}

@media only screen and (max-width: 900px) {
    main {
        top: 60px
    }
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
    border-bottom: 2px solid hsla(210, 40%, 20%, 1);
    width: 100%;
    padding-left: 40px;
    margin-bottom: 10px;
}

p {
    line-height: 1.5rem;
    font-weight: 300;
    padding-left: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    padding: 10px;
    scroll-margin-top: 74px;
    transition: border 0.1s, box-shadow 0.5s, background-color 0.1s;
}

.container {
    display: flex;
    align-items: center;
    margin: 15px auto;
    clear: both;
}

#fun-section {
    margin-top: 0px;
    align-items: flex-start;
}

#style-selector {
    margin-top: 1.2rem;
    width: 40%;
    font-weight: 300;
    font-style: italic;
}

#style-selector span {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 400;    
}

#style-selector label {
    margin-left: 10px;    
}

select {
    background-color: hsla(210, 15%, 6%, 1);
    color:hsla(210, 40%, 60%, 1);
    margin-left: 5px;
    padding: 3px;
    border-radius: 5px;
    width: 8rem;
    transition: color 0.5s, background-color 0.5s, width 0.5s;
}

option:hover {
    color: hsla(210, 10%, 80%, 1);
    background-color: hsla(210, 15%, 6%, 1);
}

#style-selector p {
    font-size: 0.8rem;
    padding-top: 5px;
    color:hsla(210, 40%, 60%, 1);
    transition: color 0.5s;
}

#fun-fact {
    border: 2px solid hsla(210, 40%, 20%, 1);
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px;
    width: 50%;
    background-color: hsla(210, 15%, 6%, 1);
    transition: background-color 0.5s;
}

#fun-fact h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color:hsla(210, 40%, 55%, 1);
    transition: color 0.5s;
}

#fun-fact p {
    font-style: italic;
    color:hsla(210, 10%, 80%, 1);
    transition: color 0.5s;
}

@media only screen and (max-width: 1000px) {
    #style-selector {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    #style-selector span {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 830px) {
    #fun-section {
        flex-wrap: wrap;
    }

    #style-selector {
        width: 100%;
        margin-top: 0px;
    }

    #style-selector span {
        font-size: 1.1rem;
    }

    #fun-fact {
        width: 100%;
    }
}

#about p {
    width: 70%;
    display: inline-block;
}

#about-img {
    width: 30%;
    display: inline-flex;
    float: right;
    justify-content: center;
    overflow: hidden;
}

#about img {
    height: 275px;
    width: auto;
}

@media only screen and (max-width: 1000px) {
    #about img {
        height: 250px;
    }

    #about-img {
        margin-left: 10px;
        width: 225px;
    }

    #about p {
        width:auto;
        display: inline;
        padding: 0px;
    }

    #about .rounded {
        padding: 0px 10px;
    }
}

@media only screen and (max-width: 700px) {
    #about img {
        height: 200px;
    }

    #about-img {
        width: 175px;
    }    
}

#projects p {
    width: 100%;
    margin-bottom: 10px;
}

/*#projects ul {
    padding-left: 20px;
    margin-top: 20px;
    height: max-content;
}*/

#projects a {
    display: inline-block;
    text-decoration: none;
    color:hsla(210, 10%, 80%, 1);
    padding: 15px;
    margin: 5px 0px;
    border: 1px solid hsla(210, 40%, 20%, 1);
    border-radius: 5px;
    transition: background-color 0s;
    transition: color 0.5s;
}

/*#projects li {
    list-style: none;
    margin: 40px 0px;
    margin: 7px 0px;
    padding: 15px;
    border: 1px solid hsla(210, 40%, 20%, 1);
    border-radius: 5px;
    transition: background-color 0s;
    transition: color 0.5s;
}*/

#projects a:last-child {
    margin-bottom: 0px;
}

#projects a:hover {
    border-width: 2px;
    padding: 14px;
    background-color: hsla(210, 15%, 6%, 1);
}

#projects a:active {
    border-width: 0px;
    background-color: hsla(210, 10%, 15%, 1);
}

#projects a em {
    color:hsla(210, 10%, 60%, 1);
}

@media only screen and (max-width: 900px) {
    #projects a em {
        display: inline-block;
        width: 100%;
        margin-top: 2px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 635px) {
    #projects a em {
        font-size: 0.85rem;
    }
}

#contact .rounded {
    display: flex;
    flex-wrap: wrap;
}

#contact p {
    width: 100%;
}

#contact a {
    color: hsla(210, 10%, 80%, 1);
    margin: 15px 45px;
    transition: color 0.25s;
}

a.mid-icon {
    display: none;
}

i:hover, iconify-icon:hover {
    color:hsla(210, 50%, 40%, 1);
}

i:active, iconify-icon:active {
    color:hsla(210, 40%, 20%, 1);
}

@media only screen and (max-width: 635px) {
    #contact i {
        font-size: 2.25rem;
    }

    a.large-icon {
        display: none;
    }

    a.mid-icon {
        display: inline-block;
    }

    #contact a {
        margin: 15px 30px;
    }
}